.App {
    text-align: center;
}
.center {
    display: flex;
    justify-content: center;
  }


#tsparticles {
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    z-index: -5;
    opacity: 1;
}

.display {
    display: flex;
}

.hide {
    display: none;
}
