
.faceDetectionModal {
  position: absolute;
  z-index: 50;
  width: 20em;
  min-height: clamp(35em, 20em, 20em);
  flex-direction: column;
  align-items: center;
  /* background-color: gray; */
  justify-content: space-evenly;

}
.img-data-list {
  list-style-type: none;
  padding: 0;
  width: 80%;
  margin: 0 2em;
  
}
.list-item {
  display: flex;
  justify-content: space-between;
  color: white;
}
.list-item-data {
  margin: auto 1rem;
  /* font-weight: bold; */
}
img {
  margin: 2em;
}

@media only screen and (min-width: 44em){
  .faceDetectionModal {
    flex-direction: row;
    align-items: flex-start;
  }
}
